extends layout

block content
 div
    div(style="padding-bottom:10px")
        .top-heading Welcome to Home Accounting Entries Details
    div
        .sub-heading search accounting entries
    .row(style='padding-top:1%;padding-left:1%',ng-controller='summaryLine')
        .input-field.col.s2
            select#inpBuId
                each bu in buList.toArray()
                    option(value=bu)= bu
            label Bu Name
        .input-field.col.s2
            select#inpSearchType
                option(value='Vendor_Tracking_ID') Vendor Tracking ID
                option(value='Merchant_Ref_ID') Merchant ID
            label Search By
        .form.col.s2(style='padding-top:0.4%')
            .input-field.col.s12
                input#inpTrackingId(type='text')
                label(for='inpTrackingId') Search Id
        .col.s2(style='padding-top:1.2%')
            button#btnSearch.waves-effect.waves-light.btn(onclick='fetchData(this)') Search
    div
        #divSummaryHead.sub-heading(style='display:none')
    #divOrderSummary.row(style='padding-top:1%;padding-left:1%;display:none')
        .col.s6
            table#summaryTable.summaryTable
                thead
                    tr
                        th(data-field='search_id') ID
                        th(data-field='service_type') Service type
                        th(data-field='payment_type') Payment type
                        th(data-field='seller_Id') Seller Id
                tbody
                    tr
                        td#search_id
                        td#service_type
                        td#payment_type
                        td#seller_id
                    tr
    p#payload

    script(src='javascripts/business-unit.js')
