extends layout

block content
   div(style="padding-bottom:10px")
     div.top-heading Welcome to Home Accounting Entries Details

   div
       div.sub-heading search accounting entries

   div.row(style="padding-top:8px")
       div.col.s2
           input#inputTrackingId(type='text', placeholder='tracking_id')
       div.col.s2
           button#btnSearch(onclick='fetchData(this)',class="waves-effect waves-light btn") Search

    div
        div.sub-heading#divSummaryHead(style="display:none")

   p Summary
     table(class="highlight")
         thead
            th Tracking_id
            th Service Type
            th Payment Type
            th Seller Id
          tbody
            tr
              td Alvin
              td Eclair
              td $0.87
            tr
              td Alan
              td Jellybean
              td $3.76
            tr
              td Jonathan
              td Lollipop
              td $7.00
              td #{somename}




    p#jres


