extends layout

block content
   h1 Welcome to Accounting Entries Details

   h2 search accounting entries
      br
      input#inputTrackingId(type='text', placeholder='tracking_id')
      button#btnSearch(onclick='fetchData(this)') Search

   h3 Summary
     table
         thead
            th Tracking_id
            th Service Type
            th Payment Type
            th Seller Id
          tbody



    p#jres

