body {
  /*padding: 50px;*/
  padding-top: 4%;
  padding-left: 1%;
  padding-right: 1%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.typeColumn {
  cursor: pointer;
}

.caret {
  display: none !important;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 41px;
  z-index: 99
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px
}

.top-heading{
  background-color: #00648B;
  /*#00648B;*/
  /*color: #e1f5fe; 8c8b8b*/
  /*background: -webkit-linear-gradient(#00648B, #A2CEEF, #00648B); !* For Safari 5.1 to 6.0 *!*/
  /*background: -o-linear-gradient(#00648B, #A2CEEF, #00648B); !* For Opera 11.1 to 12.0 *!*/
  /*background: -moz-linear-gradient(#00648B, #A2CEEF, #00648B); !* For Firefox 3.6 to 15 *!*/
  /*background: linear-gradient(#00648B, #A2CEEF, #00648B); !* Standard syntax (must be last) *!*/
  color: #ffffff;
  letter-spacing: 0.5px;
  padding: 8px 18px 6px 18px;
  font-family: "PT Sans","Roboto","Helvetica","Arial";
  width: auto !important;
  font-size: 15px;
}

.sub-heading{
  background-color: #0084AB;
  color: #000000;
  letter-spacing: 0.5px;
  background: -webkit-linear-gradient(#0084AB, #A2CEEF, #0084AB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0084AB, #A2CEEF, #0084AB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0084AB, #A2CEEF, #0084AB); /* For Firefox 3.6 to 15 */
  padding: 4px 18px 4px 18px;
  font-family: "PT Sans","Roboto","Helvetica","Arial";
  width: auto !important;
  font-size: 12px;
}

.sub-sub-heading{
  /*background-color: #0084AB;*/
  color: #000000;
  letter-spacing: 0.5px;
  background: -webkit-linear-gradient(#0084AB, #0084AB, #0084AB); /* For Safari 5.1 to 6.0  #A2CEEF*/
  background: -o-linear-gradient(#0084AB, #0084AB,  #0084AB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0084AB, #0084AB, #0084AB); /* For Firefox 3.6 to 15 */
  padding: 4px 18px 4px 18px;
  font-family: "PT Sans","Roboto","Helvetica","Arial";
  width: auto !important;
  font-size: 12px;
}

#btnSearch {
  background-color: #0084AB;
}

table {
  border-collapse: collapse !important;
}

table, th, td {
  border: 1px solid black !important;
  text-align: center !important;
}

#divTableData {
  margin-bottom: 4%;
}

[class^='extraDetail']{
  font-size: smaller;
  background-color: #dcedc8;

}
